<template>
  <div id="footer">
    <span>Written by Sing</span>
  </div>
</template>
<style lang="less" scoped>
#footer {
  margin-top: 40px;
  text-align: center;
  color: #fff;
  font-size: 10px;
  text-shadow: 0 1px 0 #c0c0c0;
}
</style>
