<template>
  <div class="main-header">
    <h1>Todo</h1>
  </div>
</template>

<style lang="less" scoped>
.main-header {
  text-align: center;
  h1 {
    font-size: 100px;
    color: rgb(128, 8, 8, 0.4);
    font-weight: 100;
    margin: 20px;
  }
}
</style>
