<template>
  <div id="app">
    <!-- <div id="cover"></div> -->
    <Header></Header>
    <Todo></Todo>
    <Footer></Footer>
  </div>
</template>

<script>
import Header from './todo/header'
import Footer from './todo/footer'
import Todo from './todo/todo'

export default {
  name: 'App',
  components: {
    Header,
    Footer,
    Todo
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
#cover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #999;
  opacity: 0.9;
  z-index: -1;
}
</style>
